<app-header></app-header>
<div class="introduction">

  <div class="intro__text">
    <h3>John Doe</h3>
    <p class="title">Web Developper 3</p>
    <p class="presentation">Hey there! I’m a creative graphic and web designer based in sunny San Francisco, CA.</p>
  </div>


</div> <!-- end introduction -->


<div class="experience">
  <div class="intro__exp">
    <h3 class="title">My experience</h3>
    <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
      elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
  </div>
</div>

<div class="hobbies">
  <div class="paint">
    <h3>Miniature painting</h3>
    <p>I'm trying to paint some stuff on my free time, mostly Warhammer Age of Sigmar.</p>
    <img src="./assets/images/silver_tower.jpeg" alt="warhammer image">
  </div>
</div>

