

<header>
  <div class="presentationText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin tincidunt tellus, et scelerisque ipsum aliquet
    in. Fusce neque tortor, facilisis a facilisis at, congue ac nibh ligula.
  </div>
  <div class="presentationImage">
    <img src="./assets/images/ragondin.jpg" alt="image title">
  </div>
</header>

<div class="skills">
  <div class="container">
    <h3>titre H3</h3>
    <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta eu enim vitae bibendum. Nulla feugiat egestas
      sem eu elementum. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Mauris interdum erat sem, nec
      ultricies quam elementum ut. Donec vitae consectetur quam, at laoreet eros. Nullam at luctus quam. Sed id scelerisque neque.
      Sed fringilla magna id consequat rutrum. Aliquam ligula velit tortor.</p>
  </div>
  <div class="skillItems">
    <p>HTML5</p>
    <p>CSS3</p>
    <p>JavaScript</p>
    <p>Angular2</p>
    <div>
      <p><span><img src="assets/images/icons/Node.js_logo.svg">Node.js</span></p>
    </div>
    <p>MongoDB</p>
    <p>Git</p>
  </div>
</div>

<div class="container__contact">
  <div class="intro__contact">
    <h3>Envie de me contacter ?</h3>
    <p>Adressez-moi un message.</p>
  </div>
  <form action="">
    <div class="header__form">
      <div class="div1">
        <div class="row">
          <div class="col__label">
            <label for="">Nom</label>
          </div>
          <div class="col__input">
            <input type="text">
          </div>
        </div>
      </div> <!-- end div1 -->
      <div class="div2">
        <div class="row">
          <div class="col__label">
            <label for="">Email</label>
          </div>
          <div class="col__input">
            <input type="email">
          </div>
        </div>
      </div> <!-- end div2 -->
    </div> <!-- end header__form -->
    <div class="row3">
      <div class="col__label">
        <label for="">Message</label>
      </div>
      <div class="col__input">
        <textarea type="text" rows="6"></textarea>
    <button class="btn__submit" type="button">Submit</button>
      </div>
    </div>
  </form>
</div>
