* {
  font-family: 'Monserrat-Light';
  font-size: 13px;
}

@font-face {
  font-family: 'Monserrat-Light';
  src: url("../../assets/fonts/Montserrat-Light.ttf") format("opentype");
}


header {
  //border: 1px solid red;
  display: flex;
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
}

header .presentationText {
  //border: 1px solid green;
  width: 40%;
  margin-bottom: 2vh;
}

header .presentationImage {
  position: relative;
  width: 60%;
  //border: 1px solid green;
  margin: auto;
}

@media all and (max-width: 900px) {
  header {
    display: block;
  }
  header .presentationText {
    //border: 1px solid green;
    width: 100%;
    height: auto;
    display: flex;
  }

  header .presentationImage {
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    margin: auto;
  }
}

.presentationImage img {
  display: flex;
  width: 60%;
  height: 100%;
  margin: auto;
}

.skills {
  //border: 1px solid black;
  display: flex;
  width: 70vw;
  margin: 3vh auto;
}

.skills .container {
  //border: 1px solid purple;
  display: block;
  width: 45%;
  margin-left: 0;
  margin-right: 5%;
}

.skills .container h3 {
  //border: 1px solid red;
  position: relative;
  width: 50%;
}

.skills .container p {
   //border: 1px solid green;
  position: relative;
  display: flex;
  text-align: justify;
}


.skillItems {
  //border: 1px solid red;
  border: 1px dashed red;
  width: 45%;
  margin-left: 5vw;
  text-align: center;
}

.skillItems p {
  font-weight: bold;
}

.skillItems img {
  max-height: 20%;
  max-width: 20%;
  display: block;
}

@media all and (max-width: 900px) {
  .skills {
    //border: 1px solid black;
    min-width: 70vw;
    position: relative;
    display: block;
  }
  .skills .container {
    position: relative;
    min-width:100%;
  }

  .skills .container p {
    //border: 1px solid blue;
    width: 100%;
    min-width: 100%;
    position: relative;
  }

  .skillItems {
    //border: 1px solid red;
    margin: auto;
    width: 100%;
    min-width: 100%;
  }
}


/*
    start contact form
*/

.container {
  //display: flex;
  margin-top: 5vh;
  max-width: 98vw;
  padding: 0 32px;
}

.contact-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.contact-grid h3 {
  //border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 42px;
}

.contact-form {
  //border: 1px solid red;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#contactForm {
  display: block;
}

.text-form {
  display: flex;
  justify-content: space-between;
}

.text-form input {
  width: 45%;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #3b3e45;
  padding: 9px 0;
  height: 40px;
  margin: 0 0 15px;
  letter-spacing: 1.1px;
  text-transform: capitalize;
}

.text-form input:focus {
  outline: none;
}

#contactForm textarea {
  padding: 9px 0;
  width: 100%;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #3b3e45;
  box-sizing: border-box;
  resize: none;
  letter-spacing: 1.1px;
}

#contactForm textarea:focus {
  outline: none;
}

.btn-contact-form {
  padding: 12px;
  color: white;
  background: #363636;
  margin-top: 18px;
  border: none;
  letter-spacing: 1.1px;
  font-weight: bold;
}

//.background-contact {
//  position: absolute;
//  z-index: -2;
//  bottom: 10px;
//  height: 250px;
//  width: 250px;
//  background: url("../../assets/images/about/Subtle-Prism.svg") 50% 50%;
//  background-repeat: no-repeat;
//  background-size: cover;
//}


