<app-header></app-header>

<header>
  <div class="presentationText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin tincidunt tellus, et scelerisque ipsum aliquet
    in. Fusce neque tortor, facilisis a facilisis at, congue ac nibh ligula.
  </div>
  <div class="presentationImage">
    <img src="./assets/images/ragondin.jpg" alt="image title">
  </div>
</header>

<!--<div class="skills">-->
<!--  <div class="container">-->
<!--    <h3>titre H3</h3>-->
<!--    <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta eu enim vitae bibendum. Nulla feugiat egestas-->
<!--      sem eu elementum. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Mauris interdum erat sem, nec-->
<!--      ultricies quam elementum ut. Donec vitae consectetur quam, at laoreet eros. Nullam at luctus quam. Sed id scelerisque neque.-->
<!--      Sed fringilla magna id consequat rutrum. Aliquam ligula velit tortor.</p>-->
<!--  </div>-->
<!--  <div class="skillItems">-->
<!--    <p>HTML5</p>-->
<!--    <p>CSS3</p>-->
<!--    <p>JavaScript</p>-->
<!--    <p>Angular2</p>-->
<!--    <div>-->
<!--      <p><span><img src="assets/images/icons/Node.js_logo.svg">Node.js</span></p>-->
<!--    </div>-->
<!--    <p>MongoDB</p>-->
<!--    <p>Git</p>-->
<!--  </div>-->
<!--</div>-->
<section id="skills">
  <div class="container">
    <div class="section-header">
      <h2>Mes compétences</h2>
    </div>
    <div class="skills-logos-grid">
      <img src="../../assets/images/icons/CSS3_and_HTML5_logos_and_wordmarks.svg" alt="Html Css logo">
      <img src="../../assets/images/icons/JavaScript-logo.svg" alt="JavaScript logo">
      <img src="../../assets/images/icons/bootstrap-solid.svg" alt="Bootstrap logo">
      <img src="../../assets/images/icons/angular.svg" alt="Angular logo">
      <img src="../../assets/images/icons/mongodb-logo-vector.png" alt="MongoDB logo">
      <img src="../../assets/images/icons/Node.js_logo.svg" alt="NodeJs logo">
    </div>
  </div>
</section>

<div class="container" style="margin-bottom: 12vh">
  <div class="contact-grid">
    <h3>{{ contact }}</h3>
    <div class="contact-form">
      <form id="contactForm">
        <div class="text-form">
          <input type="text" placeholder="Entrer votre nom">
          <input type="email" placeholder="Entrer votre Email">
        </div>
        <textarea placeholder="Message" name="" id="" cols="30" rows="10" ></textarea>
        <button type="button" class="btn-contact-form">Valider</button>
      </form>
    </div>
  </div>
<!--  <div class="background-contact"></div>-->
</div>




<span>I customized the wicked cool background on my page at SVGBackgrounds.com.</span>
