<div class="navbar">
  <div class="brand" routerLink="/portfolio">CityLife</div>
  <div class="hamburger" *ngIf="hamburger"></div>
  <div class="navMenu" *ngIf="navMenu && !hamburger">
    <ul>
      <li>
        <a
          routerLink="/"
          class="nav-item">home</a>
        <a
          routerLink="/about"
          class="nav-item">about</a>
        <a
          routerLink="/portfolio"
          class="nav-item">portfolio</a>
        <a routerLink="/"
          class="nav-item">contact</a>
      </li>
    </ul>
  </div>
</div>

<div class="hero-layout">
  <div class="hero-image"></div>
  <div class="hero-text">
    <h1>title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
      nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    <a class="hero-btn">Button 1</a>
    <a class="hero-btn">Button 2</a>
  </div>
</div>

<div class="city-list-wrapper">
  <div class="city-list">
    <div class="city">
      <div class="city-1 image-preview"></div>
      <p>Restaurants</p>
      </div>
    <div class="city">
      <div class="city-2 image-preview"></div>
      <p>Hotels</p>
    </div>
    <div class="city">
      <div class="city-3 image-preview"></div>
      <p>Famous Building</p>
    </div>
    <div class="city">
      <div class="city-4 image-preview"></div>
      <p>Museums</p>
    </div>
  </div>
</div>

<div class="tour-wrapper">
  <div class="tour-info">
    <h2>Test info</h2>
    <p>Whatever you need</p>
    <button>Explore the City</button>
  </div>
</div>
























<!--<span>Photo by <a href="https://unsplash.com/@oliviabliss?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
Olivia Bliss</a> on <a href="https://unsplash.com/s/photos/city?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
<!--<span>Photo by <a href="https://unsplash.com/@richardtao28?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Richard Tao</a>
on <a href="https://unsplash.com/s/photos/big-city?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
<!--<span>Photo by <a href="https://unsplash.com/@richardtao28?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Richard Tao</a>
on <a href="https://unsplash.com/s/photos/big-city?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
<!--<span>Photo by <a href="https://unsplash.com/@_miltiadis_?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Miltiadis Fragkidis</a>-->
<!--  on <a href="https://unsplash.com/s/photos/big-city?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
<!--<span>Photo by <a href="https://unsplash.com/@lensilium?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Maid Milinkic</a>
on <a href="https://unsplash.com/s/photos/big-city?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->

<!-- RESTAURANT-->
<!--<span>Photo by <a href="https://unsplash.com/@ninjason?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">-->
<!--  Jason Leung</a> on <a href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash-->
<!--</a></span>-->
<!-- HOTEL -->
<!--<span>Photo by <a href="https://unsplash.com/@markusspiske?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">-->
<!--  Markus Spiske</a> on <a href="https://unsplash.com/s/photos/hotel?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash-->
<!--</a></span>-->
<!-- MUSEUM -->
<!--<span>Photo by <a href="https://unsplash.com/@deanna_j?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">-->
<!--  Deanna J</a> on <a href="https://unsplash.com/s/photos/museum?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash-->
<!--</a></span>-->

<!-- TOUR -->
<!--<span>Photo by <a href="https://unsplash.com/@matteocatanese?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
Matteo Catanese</a> on <a href="https://unsplash.com/s/photos/new-york?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash
</a></span>-->
