<app-header></app-header>

<!--<div class="container">-->
<!--  <div class="hero">-->
<!--    <div class="hero__grid">-->
<!--      <div>-->
<!--        <div>-->

<!--        <h2 style="display:flex;">Silver Tower</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="hero__content" id="silverTower">-->
<!--        <div class="hero__title">-->
<!--          Silver Tower-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="section-blog">

  <div class="blog-post-card">
    <div class="post-date">
      <div class="post-date-day">09</div>
      <div class="post-date-month">April</div>
    </div>

    <div class="post-card">
      <div class="post-card-category">Silver Tower</div>
      <a class="post-card-image"></a>
      <a>
        <h4>Link motivation</h4>
      </a>
      <p class="post-card-description">
        I'm the king of my kingdom.
      </p>
      <a class="post-card-btn-link">
        Read more
      </a>
    </div>

  </div>

</div>
