<app-header></app-header>

<div class="portfolio-title">
  portfolio link
</div>

<!--<div class="portfolio">-->
<!--  <div class="portfolio-card">-->
<!--    <a routerLink="/portfolio/prospero" class="title">prospero UI link</a>-->
<!--    <div class="thumbnail-1"></div>-->
<!--  </div>-->
<!--  &lt;!&ndash;<hr style="margin-top: 2vh; margin-bottom: 2vh;">&ndash;&gt;-->
<!--  <div class="portfolio-card">-->
<!--    <a routerLink="/portfolio/colibri" class="title">colibri UI link</a>-->
<!--    <div class="thumbnail-2"></div>-->
<!--  </div>-->
<!--</div>-->

<div class="portfolio">
  <div class="portfolio-card">
    <a routerLink="/portfolio/prospero">
      <div class="title">prospero UI link</div>
      <div class="thumbnail-1 portfolio-img"></div>
    </a>
  </div>
  <div class="portfolio-card">
    <a routerLink="/portfolio/colibri">
      <div class="title">colibri UI link</div>
      <div class="thumbnail-2 portfolio-img"></div>
    </a>
  </div>
</div>
