* {
  font-family: 'Monserrat-Light';
}

a {
  text-decoration: none;
  cursor: pointer;
}

.portfolio-title {
  margin-top: 6vh;
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 46px;
}


.portfolio {
  //border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  max-width: 100vw;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  overflow: hidden;
  margin: 5px;
  padding-left: 5px;
}

.title {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1.5px;
  color: #18181d;
  padding: 5px;
  margin-bottom: 14px;
  margin-left: 14px;
  width: max-content;
  transition: box-shadow 0.5s;
}

.title:hover {
  box-shadow: 0 1px 0 black;
  transition: box-shadow 0.5s ease-in-out;
}

.thumbnail-1 {
  //border: 5px solid red;
  background: url("../../assets/images/thumbnail.PNG");
  height: 500px;
  width: 500px;
  box-shadow: 2px 2px 2px #c6c6c6;
}

.thumbnail-2 {
  background: url("../../assets/images/thumbnail-2.PNG");
  height: 500px;
  width: 500px;
  box-shadow: 2px 2px 2px #c6c6c6;
}

@media all and (max-width: 991px) {
  .portfolio-title {
    margin-bottom: 4vh;
  }

  .portfolio {
    flex-direction: column;
  }

  .portfolio-card {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-left: none;
  }

  .portfolio-card a {
    max-width: 50%;
  }

  .portfolio-img {
    margin: auto;
  }
} // End media max 991px

@media all and (max-width: 767px) {
  .portfolio-card{
    margin: unset;
  }
} // End media max 767px

