<div style="margin-top: 5vh"></div>

<h2 style="margin-bottom: 3px">Some UI Practice</h2>

<div class="nav">
  <div class="brand" id="brand">
    <a>
      Prospero UI Kit
    </a>
  <div class="divider" *ngIf="!hamburger"></div>
  </div>
  <div class="dropdownsMenu" *ngIf="!hamburger || navMenu">
    <div>
      <a routerLink="/home">Back to home</a>
    </div>
    <div>
      <a routerLink="/about">Layouts</a>
    </div>
    <div>
      <a routerLink="/about">Templates</a>
    </div>
    <div>
      <a routerLink="/portfolio">Others</a>
    </div>
  </div>
  <div class="btn">
    <button type="button">Get the kit</button>
  </div>
<!--  <p [ngClass]="condition ? 'checked' : 'unchecked'">-->

  <div class="hamburger"
       *ngIf="hamburger"
       (click)="toggleNavLinks()"
      [ngClass]="{'change': navMenu}">
<!--    <button (click)="toggleNavLinks()">O</button>-->
<!--    <button (click)="toggleNavLinks()">-->
<!--      <img src="../../assets/images/icons/menu.svg" alt="hamburger_icon">-->
<!--    </button>-->
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</div>

<div class="hero">
  <div>
    <h2>Hero</h2>
    <p>
      Pick and choose from 7 different hero layouts below. Read through our guide for guidance on how to build your site
      using the kit.
    </p>
  </div>
</div>


<div class="product" *ngFor="let product of products">

  <div class="product__intro">
<!--    <h3>Haola Bola</h3>-->
    <h3>{{product}}</h3>
    <p>
      Taking its inspiration from pendant jewelry, Bola Halo is a uniquely expressive pendant light featuring a chromated
      ring that balances delicately over its elegant opal glass shade while allowing its surroundings to shine through.
    </p>
  </div>
<!--  <img src="../../assets/images/ring-4279987_1920.jpg" alt="image.title">-->
  <div id="img"></div>
  <div class="product__full_info">
    <h5 class="product__title">
      Haola Bola's ring
    </h5>
    <p class="product__description">
      Halo Family
    </p>
    <p class="product__price">
      $329
    </p>
  </div>
  <div class="product__button">
    <a>Discover Products</a>
  </div>
</div>
<!-- end product 1-->
<!--<hr>-->

<div class="product2">
  <div class="product2__intro">
    <div id="intro2">
      <h3>Product 2</h3>
      <p>We believe that the right light can transform any environment. We are committed to creating lasting solutions that
        provide a lifetime of illumination.
      </p>
    </div>
    <a class="product2__card">
      <div class="product2__card_img"></div>
      <div id="text_card">
        <h5>The Contour Collection</h5>
        <p>
          Contour’s revealing and elegant open framed architecture captures warm LED illumination within a remarkably slender
          extruded aluminum structure.
        </p>
      </div>
    </a>
    <a class="product2__button">
      <div>Discover Products</div>
    </a>
  </div>

  <div id="rightCard"> <!-- right side -->
    <div class="product2__img" ></div>
    <div class="product2__info">
      <a>
        <p>Contour</p>
      </a>
      <p class="product2__price">$930</p>
    </div>
  </div>
</div>

<!-- PRODUCT 3-->

<!--<div class="product3">-->
<!--    <div class="product3__section">-->
<!--      <div class="product3__grid">-->
<!--        <div class="product3__content">-->
<!--          <div class="product3__text">-->
<!--            <div class="product3__title">Lifetime of illumination</div>-->
<!--          </div>-->
<!--          <a href="">Shop products</a>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->

<div class="hero3">
  <div class="section3">
    <div class="hero3-grid">
      <div class="hero3-content">
        <div class="hero3-text">
          <div class="hero3-size-jumbo">
            Lifetime of illumination
          </div>
        </div>
        <a class="btn-small">Shop our products</a>
      </div>
    </div>
  </div>
</div>

<div class="section-contact">
  <div class="contact-container">
    <div class="contact">
      <div class="contact-headline">
        <h3>Contact me !</h3>
        <p class="contact-paragraph">Lorem ipsum dolor etc..</p>
      </div>
      <div class="contact-form-wrap">
        <div class="contact-grid">
          <form action="">

            <div id="name">
              <label for="name">Name</label>
              <input type="text" placeholder="Enter your name">
            </div>
            <div id="email">
              <label for="email">Email</label>
              <input type="text" placeholder="Enter your email">
            </div>
            <div id="message">
              <label for="message">Message</label>
              <textarea name="message" id="" cols="30" rows="10" placeholder="Write your message"></textarea>
            </div>

          <button type="button" class="btn-contact">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<br style="margin-top: 85vh;">
<div style="margin-top: 85vh; font-size: 9px; display: block;">
<hr>
Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  <p>Image par <a href="https://pixabay.com/fr/users/dtjelit-12798997/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4279987">
    dtjelit</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4279987">Pixabay</a></p>
  <p>Image par <a href="https://pixabay.com/fr/users/PIRO4D-2707530/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3104077">PIRO4D</a>
    de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3104077">Pixabay</a></p>
  <p>Image par <a href="https://pixabay.com/fr/users/keresi72-16512/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=416062">Ferenc Keresi</a>
    de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=416062">Pixabay</a></p>
  <p>
    <span>Photo by <a href="https://unsplash.com/@rtp_atw?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
      Ratapan Anantawat</a> on <a href="https://unsplash.com/s/photos/jewel?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  </p>
</div>
