* {
  font-family: 'Monserrat-Light';
  font-size: 13px;
}

@font-face {
  font-family: 'Monserrat-Light';
  src: url("../assets/fonts/Montserrat-Light.ttf") format("opentype");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
