<div id="Hero">
  <div class="navbar">
    <div class="wrapper-nav">
      <nav class="nav-brand">
        <a class="logo">Colibri</a>
      </nav>
      <nav>
        <ul class="nav-link">
          <li><a href="">link1</a></li>
          <li><a href="">link1</a></li>
          <li><a href="">link1</a></li>
          <li><a href="">link1</a></li>
        </ul>
        <a class="test">burger</a>
      </nav>
    </div>
  </div>
  <div class="arrow-down"><a><img src="../../../assets/images/arrow.svg" alt=""></a></div>
</div>

<div id="Features">
  <div class="wrapper-container">
    <div class="section-header">
      <h2>Colibri is perfect for you</h2>
    </div>
    <div class="section-cards">

      <div class="element">
        <div class="card-corner">01</div>
        <div class="feature-card">
          <img src="../../../assets/images/mac.svg" alt="" class="feature-icon">
           <h5>product 1</h5>
          <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed.</p>
          <a class="feature-link">small link</a>
        </div>
      </div>

      <div class="element">
        <div class="card-corner">02</div>
        <div class="feature-card">
          <img src="../../../assets/images/mac.svg" alt="" class="feature-icon">
          <h5>product 2</h5>
          <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed.</p>
          <a class="feature-link">small link</a>
        </div>
      </div>

      <div class="element">
        <div class="card-corner">03</div>
        <div class="feature-card">
          <img src="../../../assets/images/mac.svg" alt="" class="feature-icon">
          <h5>product 3</h5>
          <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed.</p>
          <a class="feature-link">small link</a>
        </div>
      </div>

    </div>
  </div>
</div>

<hr>
<div style="margin-top: 25vh">
  <p>
    <span>Photo by <a href="https://unsplash.com/@tma?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tianyi Ma</a> on <a href="https://unsplash.com/t/business-work?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span><br>
    <span>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span><br>
    <span>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span><br>


  </p>
</div>



