<div id="Hero">
  <div class="navbar">
    <div class="wrapper-nav">
      <nav class="nav-brand">
        <a class="logo">Colibri</a>
      </nav>
      <nav>
        <ul class="nav-link" *ngIf="!hamburger || navDisplay">
          <li><a href="">link1</a></li>
          <li><a href="">link1</a></li>
          <li><a href="">link1</a></li>
          <li><a href="">link1</a></li>
        </ul>
        <a class="hamburger"
           *ngIf="!hamburger"
           (click)="navToggle()"
           [ngClass]="{'change': navDisplay}">burger</a>
      </nav>
    </div>
  </div>
  <div class="arrow-down"><a><img src="../../../assets/images/arrow.svg" alt=""></a></div>
</div>

<div id="Features">
  <div class="wrapper-container">
    <div class="section-header">
      <h2>Colibri is perfect for you</h2>
    </div>
    <div class="section-cards">
      <div
        class="element"
        [ngClass]="{'animate__animated animate__fadeInUp' : fadeInUp }">
        <div class="card-corner">01</div>
        <div class="feature-card">
          <img src="../../../assets/images/mac.svg" alt="" class="feature-icon">
           <h5>product 1</h5>
          <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed.</p>
          <a class="feature-link">small link</a>
        </div>
      </div>

      <div
        class="element"
        [ngClass]="{'animate__animated animate__fadeInUp' : fadeInUp }">
        <div class="card-corner">02</div>
        <div class="feature-card">
          <img src="../../../assets/images/mac.svg" alt="" class="feature-icon">
          <h5>product 2</h5>
          <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed.</p>
          <a class="feature-link">small link</a>
        </div>
      </div>

      <div
        class="element"
        [ngClass]="{'animate__animated animate__fadeInUp' : fadeInUp }">
        <div class="card-corner">03</div>
        <div class="feature-card">
          <img src="../../../assets/images/mac.svg" alt="" class="feature-icon">
          <h5>product 3</h5>
          <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed.</p>
          <a class="feature-link">small link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Big-feature">
  <div class="section-feature">
    <div class="section-content">
      <div class="feature-info"
        [ngClass]="{'animate__animated animate__fadeInRight' : fadeInRight }">
<!--        animate__animated ">-->
        <h2>title</h2>
        <p>Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed,
          it'll be on the other side of the galaxy by now.</p>
        <button class="btn-big-feature">buy template</button>
      </div>
    </div>
    <div class="section-image">
    </div>
  </div>
</div>

<div class="contact">
  <div class="contact-form">
    <form action="">
      <h2>Contact Us</h2>
      <label for="">name</label>
      <input type="text">
      <label for="">email</label>
      <input type="email">
      <label for="">message</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type="button">Submit</button>
    </form>
  </div>

  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40492.55484406382!2d3.0121411501550672!3d50.63111669599165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579b3256e11%3A0x40af13e81646360!2sLille%2C%20France!5e0!3m2!1sfr!2sbe!4v1594156844037!5m2!1sfr!2sbe"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  <div class="contact-card">
    <div class="contact-address">
      Zone 51, UFO, US
    </div>
    <div class="contact-info">
      <span>Phone Number:</span> 06 00 00 00 00
    </div>
    <div class="contact-info">
      <span>Email:</span> email@mail.com
    </div>
  </div>

  </div>
</div>

<div class="footer">
  <div class="footer-container">

    <div class="footer-about">
      <div class="footer-logo">
<!--        <img src="" alt="">-->
        <h3 class="footer-title">Colibri</h3>
      </div>
      <div class="paragraph">
        We create amazing templates for inspired people all around the world
      </div>
      <div class="footer-social-media">
        <a href="https://twitter.com" target="_blank"><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
        <a href="https://facebook.com" target="_blank"><img src="../../../assets/images/icons/facebook.svg" alt=""></a>
        <a href="https://instagram.com" target="_blank"><img src="../../../assets/images/icons/instagram.svg" alt=""></a>
      </div>
    </div>

    <div class="footer-links">
      <h6 class="footer-title">Links</h6>
      <a href="">Home</a>
      <a href="">Features</a>
      <a href="">Pricing</a>
      <a href="">Testimonials</a>
      <a href="">Contact</a>
      <a href="">Blog</a>
    </div>

    <div class="footer-links">
      <h6 class="footer-title">Pages</h6>
      <a href="">Style Guide</a>
      <a href="">Protected Page</a>
      <a href="">404 Page</a>
      <a href="">Licenses</a>
    </div>

    <div class="footer-blog">
      <h6 class="footer-title">Recent Posts</h6>
      <div class="footer-posts">
        <div class="footer-item">
          <a href="" class="footer-image"></a>
          <div>
            <div class="footer-post-date">
              April 9th, 2020
            </div>
            <a href="" class="footer-post-header">Some text from post</a>
          </div>
        </div>
        <div class="footer-item">
          <a href="" class="footer-image"></a>
          <div>
            <div class="footer-post-date">
              April 16th, 2020
            </div>
            <a href="" class="footer-post-header">Some text from 2nd post</a>
          </div>
        </div>
      </div>
      <a href="" class="footer-blog-link">View All Posts</a>
    </div>

    <div class="footer-copyright">
      <div>
        Created by myself
      </div>
      <div class="copyright">
        Colibri
      </div>
    </div>

  </div>
</div>


<hr>
<div style="margin-top: 25vh">
  <p>
    <span>Photo by <a href="https://unsplash.com/@tma?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tianyi Ma</a> on <a href="https://unsplash.com/t/business-work?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span><br>
    <span>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span><br>
    <span>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span><br>
    <span>Photo by <a href="https://unsplash.com/@yucelmoran?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yucel Moran</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span><br>
    <span>Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/background?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    <span>Photo by <a href="https://unsplash.com/@sixteenmilesout?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Carolyn V</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>



  </p>

</div>



