.nav {
  //border: 1px solid red;
  display: flex;
  width: 100%;
  min-height: 5vh;
  background-color: white;
  border-bottom: 1px solid gray;
  justify-content: flex-end;
}

.brand, .divider, .dropdownsMenu {
  //border: 1px solid red;
  display: flex;
  position: relative;
  align-items: center; // centre verticalement
}

.brand {
  display: flex;
  min-width: 15vw;
  //margin-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.divider {
  margin-left: 35px;
  height: 50%;
  border-right: 1px solid black;
}

.dropdownsMenu {
  //border: 1px solid red;
  width: 100vw;
  display: flex;
  animation-name: moveBottom;
  animation: ease-in 5s;
}

// animation from top
.slide-in-top {
  -webkit-animation: slide-in-top 0.8s ease-in-out  both;
  animation: slide-in-top 0.8s ease-in-out  both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-450px);
    transform: translateY(-450px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
// end animation

.dropdownsMenu div {
  //min-width: 100%;
  //border: 1px solid red;
}

.dropdownsMenu div a {
  //border: 1px solid green;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-left: 15px;
}

.btn {
  //border: 1px solid red;
  display: block;
  min-width: 176px;
  margin-left: 0;
}

.btn button {
  //display: flex;
  height: 90%;
  width: 100%;
  //text-align: center;
  //vertical-align: middle;
  align-items: center;
  border-radius: 0;
  color: white;
  background-color: #979797;
  border: #555555;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  vertical-align: center;
  margin-top: 2px;
}

// 991 collapse
@media all and (max-width: 991px) {
  .nav  {
    //border: 1px solid black;
    width: 100%;
  }

  .brand {
    min-width: 150px;
    //border: 1px solid red;
    //display: flex;
    left: 0;
  }

  .btn {
    display: block;
    margin-left: auto;
    min-width: 176px;
  }

  .hamburger {
    //border: 1px solid red;
    display: block;
    width: 50px;
    height: auto;
  }

  .dropdownsMenu {
    //border: 1px solid green;
    position: absolute;
    display: block;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 8px;
    height: auto; //todo check this later
    width: 100%;
    background-color: white;
    //border-bottom: 1px solid gray;
    //left: 0;
  }

  .dropdownsMenu div {
    //border: 1px solid red;
    display: flex;
    width: 100%;
    //border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .dropdownsMenu div:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .dropdownsMenu div a {
    //display: flex;
    height: 7vh;
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}

@media all and (min-width: 991px) and (max-width: 1199px) {
  .brand {
    font-size: 12px;
    font-weight: bold;
  }
}

* {
  font-family: 'Monserrat-Light';
  //text-transform: uppercase;
}

.hamburger {
  //border: 1px solid gray;
  display: block;
  margin-right: 2vw;
}
.bar1, .bar2, .bar3 {
  display: flex;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

a {
  color: black;
  text-decoration-line: none;
}

.btn {
  display: block;
  margin-left: auto;
  min-width: 176px;
}

@media all and (max-width: 482px) {
  .btn {
    display: none;
  }

  #brand {
    display: flex;
    left: 0;
    margin-right: auto;
  }
}

// START HERO BANNER
.hero {
  background-color: rgba(245, 234, 234, 0.7);
  height: 25vh;
  display: block;
  align-items: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 10vh;
}

.hero h2  {
  //border: 1px solid red;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  font-size: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.hero p {
  //border: 1px solid red;
  width: 80%;
  margin: auto;
  display: flex;
  text-align: left;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  align-items: center;
}

@media all and (max-width: 767px) {
  .hero {
    //border: 1px solid red;
    display: flex;
  }

  .hero h2 {
    display: block;
    font-size: 36px;
    text-align: center;
  }

  .hero p {
    display: block;
    text-align: center;
    width: 80%;
  }
} // end max-width: 767px
// END HERO


// START BRANCH FRONT FOR PRODUCT grid test css
@media all and (min-width: 992px){

  .product {
    position: relative;
    display: -ms-grid;
    display: grid;
    min-width: 98vw;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .product__intro {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 3;
    grid-column-end: span 3;
    align-self: center;
    max-width: 200px;
    margin-left: 3vw;
    line-height: 26px;
  }

  .product #img {
    background: url("../../../assets/images/ring-4279987_1920.jpg") 50% 50%;
    background-size: cover;
    min-height: 850px;
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .product__full_info {
    position: absolute;
    left: auto;
    top: auto;
    right: 0;
    bottom: 85px;
    width: 196px;
    padding: 36px 56px;
    border-top: 1px solid #ebedee;
    border-right: 1px solid #ebedee;
    background-color: #fff;
  }

  .product__button a {
    color: white;
    background-color: #a17a63;
    text-transform: uppercase;
    padding: 33px 36px;
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
} // End min-width: 992px


@media all and (max-width: 991px) {
  .product {
    //border: 1px solid red;
    min-width: 98vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 36px;
    grid-column-start: 1;
    grid-column-end: span 8;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .product .product__intro {
    display: block;
    grid-column-start: 1;
    grid-column-end: span 8;
  }

  .product #img {
    //border: 1px solid red;
    background: url("../../../assets/images/ring-4279987_1920.jpg") 50% 50%  no-repeat;
    background-size: cover;
    display: block;
    height: 50vh;
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .product .product__full_info {
    display: block;
    grid-column-start: 1;
    grid-column-end: span 8;
  }

  .product .product__button {
    grid-column-start: 1;
    grid-column-end: span 8;
  }
  .product .product__button a {
    display: block;
    color: white;
    background-color: #a17a63;
    text-transform: uppercase;
    padding: 33px 36px;
    //width: 100%;
    //position: absolute;
    //right: 0;
    //bottom: 0;
    grid-column-start: 1;
    grid-column-end: span 8;
  }

  .product__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  p.product__description {
    font-size: 16px;
    margin: 2px;
  }

  p.product__price {
    font-size: 30px;
    margin: 2px;
  }
} // End max-width 991px

.product__intro h3 {
  font-size: 44px;
  line-height: 44px;
}

// START PRODUCT 2

.product2 {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  grid-row-start: 1;
  grid-row-end: 13;
  grid-auto-flow: row;
  grid-template-rows: auto;
}

.product2__img {
  background: url("../../../assets/images/live-3104077_1920.jpg") 38% 50%;
  //display: grid;
  //position: relative;
  grid-column-start: 7;
  grid-column-end: span 13;
  grid-row-start: 1;
  grid-row-end: span 1;
  min-height: 80vh;
  //height: 100%;
}

.product2__intro {
  //border: 1px solid green;
  grid-column-start: 1;
  grid-column-end: span 6;
  grid-row-start: 1;
  grid-row-end: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product2__intro #intro2 {
  //border: 1px solid purple;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 36px;
  padding-right: 130px;
  justify-content: center;
  height: 70%;
}

.product2__intro h3 {
  display: flex;
  //margin: auto;
  font-size: 44px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
  white-space: normal;
}

.product2__intro p {
  display: flex;
  //margin: auto;
  font-size: 16px;
  margin-bottom: 10px;
}

.product2__card {
  //border: 1px solid red;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 36px;
  height: auto;
  align-items: center;
  background-color: #18181d;
  color: white;
}

.product2__card .product2__card_img {
  //border: 1px solid blue;
  background: url("../../../assets/images/bedroom-416062_1280.jpg") 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 80%;
  min-width: 40%;
  min-height: 25vh;
}

.product2__card h5 {
  //border: 1px dashed green;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 0;
}

.product2__card p {
  //border: 1px dashed orange;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.product2__card #text_card {
  //border: 1px dashed orange;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto 5px auto 20px;
  justify-content: flex-end;
}

.product2__button {
  //border: 1px dashed orange;
  //position: static;
  //display: flex;
  //grid-column-start: 5;
  //grid-column-end: span 6;
  background-color: #3b3e45;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #3b3e45;
}

.product2__button div {
  padding: 36px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

// right side
#rightCard {
  //border: 1px dashed orange;
  position: relative;
  grid-column-start: span 6;
  grid-column-end: span 13;

  //grid-column-start: 1;
  //grid-column-end: span 6;
  grid-row-start: 1;
  grid-row-end: span 1;
}

#rightCard .product2__info {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 70%;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ebedee;
}

#rightCard .product2__info a {
  color: lightslategray;
  display: block;
}

#rightCard .product2__info p {
  display: flex;
  flex-direction: row;
  color: lightslategray;
  grid-column-start: 6;
  grid-column-end: span 6;

}

#rightCard .product2__info .product2__price {
  margin-left: auto;
  font-weight: bold;
}

// START PRODUCT2 MOBILE VIEW
@media all and (max-width: 991px) {
  .product2 {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
  }

  .product2 #rightCard {
    border: none;
  }

  .product2 #rightCard .product2__img {
    //border: 1px dashed orange;
    order: 1;
    display: block;
    min-width: 98vw;
    //width: 100%;
    margin: auto;
  }

  .product2 #rightCard .product2__info {
    //border: 1px dashed orange;
    order: 2;
    display: flex;
    min-width: 100%;
    border: none;
    padding: 0;
    background-color: #3b3e45;
    color: #ffffff;
    justify-content: space-between;
  }

  .product2 #rightCard .product2__info p {
    //border: 1px solid red;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 5%;
    display: block;
  }

  .product2 .product2__intro #intro2 {
    //border: 1px solid red;
    order: 3;
    display: flex;
    margin: auto;
    width: 80%;
    padding: 35px 0 45px;
  }

  #intro2 h3 {
    //border: 1px solid red;
    font-size: 34px;
  }

  #intro2 p {
    line-height: 26px;
    color: dimgray;
    font-weight: bold;
  }

  .product2 .product2__intro {
    //border: 1px solid red;
    display: flex;
    min-width: 98vw;
    order: 5;
    padding: 0;
    margin: auto;
  }

  .product2 .product2__intro .product2__card {
    //border: 1px dashed red;
    order: 4;
    display: block;
    //width: 100%;
    padding: 5px;
  }

  .product2__button {
    order: 5;
  }

  .product2__card h5 {
    margin-top: 1vh;
  }

  .product2__card #text_card {
    //border: 1px solid red;
    margin: 8px;
    margin-left: 20px;
    width: 90%;
  }

  .product2__card .product2__card_img {
    margin: 20px;
  }
}

// ###############
// START PRODUCT 3
// ###############

//.product3 {
//  //border: 1px solid red;
//  display: flex;
//  flex-direction: row;
//  margin: 16vh auto;
//  min-height: 640px;
//  padding-right: 36px;
//  padding-left: 36px;
//
//  justify-content: center;
//  color: #fff;
//  align-items: center;
//  text-align: center;
//  background: url("../../assets/images/ratapan-anantawat-26jOOe_fvMY-unsplash.jpg") no-repeat;
//  background-size: cover;
//}
//
//.product3 .product3__img {
//  //border: 1px solid green;
//  display: flex;
//  background-size: cover;
//  min-height: 80vh;
//  width: 100%;
//}
//
//.product3__section {
//  //border: 1px solid red;
//  display: flex;
//  flex-direction: column;
//}
//
//.product3__grid {
//  //border: 1px solid blue;
//  position: relative;
//  //width: 100%;
//  display: grid;
//  grid-auto-flow: row;
//  grid-auto-columns: 1fr;
//  grid-column-gap: 8px;
//  grid-row-gap: 36px;
//  grid-template-columns: repeat(12, 1fr);
//  max-width: 1200px;
//}
//
//.product3__content {
//  grid-column-start: 2;
//  grid-column-end: 10;
//  grid-row-start: 1;
//  grid-row-end: 2;
//  display: block;
//}
//
//.product3__text {
//  //border: 1px solid red;
//  //width: 96vw;
//  display: flex;
//
//  grid-column-start: 2;
//  grid-column-end: 10;
//  grid-row-start: 1;
//  grid-row-end: 2;
//  //flex: 1;
//  font-size: 80px;
//  line-height: 96px;
//  margin-bottom: 25px;
//}
//
//.product3__title {
//  //border: 1px solid green;
//  position: absolute;
//  margin: 0;
//  padding: 0;
//  display: flex;
//  flex: 1;
//  grid-column-start: 1;
//  grid-column-end: 12;
//  grid-row-start: 1;
//  grid-row-end: 2;
//}
//
//.product3 a {
//  grid-column-start: 1;
//  grid-column-end: 12;
//  grid-row-start: 1;
//  grid-row-end: 2;
//  display: flex;
//  background-color: white;
//  color: black;
//  justify-content: center;
//  text-transform: uppercase;
//  padding: 18px 30px;
//  font-weight: bold;
//}

.hero3 {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  background: url("../../../assets/images/ratapan-anantawat-26jOOe_fvMY-unsplash.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  max-height: 70vh;
  min-width: 98vw;
}

.section3 {
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.hero3-grid {
  position: relative;
  display: grid;
  width: 100%;
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.hero3-content {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;

  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hero3-text {
  display: flex;
  margin-bottom: 36px;
  flex: 1;
}

.hero3-size-jumbo {
  margin-bottom: 25px;
  font-size: 80px;
  font-weight: 300;
  line-height: 96px;
  text-shadow: 1px 1px black;
}

.btn-small {
  text-align: center;
  background-color: white;
  color: #555555;
  padding: 18px 30px;
  font-weight: bold;
  border: 1px solid black;
}

@media all and (max-width: 991px) {
  .hero3-content {
    grid-column-start: 1;
    grid-column-end: 12;
  }
  .hero3-size-jumbo {
    font-size: 44px;
    line-height: 60px;
  }

  .hero3-text {
    margin: 0;
  }

} // End max-width 991px

// ##################
// START CONTACT FORM
// ##################

.section-contact {
  margin-top: 8vh;
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.contact-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
  //margin-left: 10vw;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

.contact-paragraph {
  opacity: 0.6;
}

.contact-form-wrap {
  width: 70%;
}

.contact-grid {
  grid-column-gap: 16px;
  grid-row-gap: 10px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

form {
  display: grid;
  //grid-template-columns: 1fr 1fr;
  //grid-auto-columns: 1fr;
  //grid-template-rows: auto auto;

  grid-gap: 30px;
}

label {
  display: block;

  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

textarea {
  height: 200px;
  padding: 12px 20px;
  width: 100%;
  //border-radius: 0;
  resize: none;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  font-size: 14px;
}

input {
  margin-bottom: 18px;
  padding: 12px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
  //width: 90%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#name {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
}
#email {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
}
#message {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
}

.btn-contact {
  background-color: #18181d;
  color: white;
  grid-column-start: 1;
  grid-column-end: 1;
  //grid-column: 1/3;
  //grid-row-end: 4;
  //box-sizing: border-box;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
  border: none;
}

label {
  font-weight: bold;
}

// Start max-width 767px form
@media all and (max-width: 767px) {
  .contact {
    margin: auto;
  }

  .contact-form-wrap {
    width: auto;
  }

  form {
    //border: 1px solid red;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  label {
    display: block;
    width: 100%;
  }
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
  }

  #name {
    //display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    //box-sizing: border-box;
  }

  #email {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }


  .btn-contact {
    grid-column-start: 1;
    grid-column-end: 3;
    //grid-column: 1/3;
    grid-row-start: 4;
    grid-row-end: 4;
    //box-sizing: border-box;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    color: white;
    width: 100%
  }

  .section-contact {
    box-sizing: border-box;
  }
} // end max-width 767px



